.footer {
  width: 100vw;
  padding: 1rem 1rem;
  background: #4c596b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0.35rem 0;
}

.social-icon {
  font-size: 1.1rem;
  color: #ffffff;
}

.social-icon:hover {
  opacity: 0.7;
}

.social-icon-linkedin {
  font-size: 1.4rem;
  color: #ffffff;
}

.social-icon-linkedin:hover {
  opacity: 0.7;
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.65rem;
  color: #ffffff;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  opacity: 0.7;
}
