.interiors-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100vw;
  background-color: #000000;
}

.interiors-page-header {
  display: flex;
  justify-content: flex-start;
  width: 90vw;
  max-width: 1400px;
  font-size: 1.7rem;
  font-weight: 700;
  color: #ffffff;
  margin: 4rem 0 1rem 0;
}

.interiors-image-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 0 5rem 0;
  width: 90vw;
  max-width: 1400px;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .interiors-page-header {
    margin: 5rem 0 3rem 0;
  }
}

.int-row-one {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .int-row-one {
    flex-direction: row;
  }
}

.int-row-one-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}

.int-image-one {
  background-image: url("../assets/images/interior/interior-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
  max-height: 45rem;
}

@media screen and (min-width: 768px) {
  .int-image-one {
    flex: 3;
    height: 40vh;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-one {
    flex: 3;
    height: 80vh;
  }
}

.int-image-two {
  background-image: url("../assets/images/interior/interior-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
}

@media screen and (min-width: 768px) {
  .int-image-two {
    flex: 1;
    height: 25vh;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-two {
    flex: 1;
    height: 50vh;
  }
}

.int-image-three {
  background-image: url("../assets/images/interior/interior-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
}

@media screen and (min-width: 480px) {
  .int-image-three {
    flex: 1;
    height: auto;
  }
}

.int-row-two {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.int-image-four {
  background-image: url("../assets/images/interior/interior-4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  width: 100%;
  height: 14rem;
  max-height: 45rem;
}

@media screen and (min-width: 768px) {
  .int-image-four {
    height: 45vh;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-four {
    height: 85vh;
  }
}

.int-row-three {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .int-row-three {
    flex-direction: row;
  }
}

.int-image-five {
  background-image: url("../assets/images/interior/interior-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
}

@media screen and (min-width: 768px) {
  .int-image-five {
    flex: 1;
    height: 25vh;
    max-height: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-five {
    flex: 1;
    height: 50vh;
  }
}

.int-image-six {
  background-image: url("../assets/images/interior/interior-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
}

@media screen and (min-width: 768px) {
  .int-image-six {
    flex: 1;
    height: 25vh;
    max-height: 30rem;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-six {
    flex: 1;
    height: 50vh;
  }
}

.int-row-four {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .int-row-four {
    flex-direction: row;
  }
}

.int-row-four-stack {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}

.int-image-seven {
  background-image: url("../assets/images/interior/interior-7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
}

@media screen and (min-width: 480px) {
  .int-image-seven {
    flex: 1;
    height: auto;
  }
}

.int-image-eight {
  background-image: url("../assets/images/interior/interior-8.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14rem;
}

@media screen and (min-width: 480px) {
  .int-image-eight {
    flex: 1;
    height: auto;
  }
}

.int-image-nine {
  background-image: url("../assets/images/interior/interior-9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex: auto;
  height: 14em;
  max-height: 45rem;
}

@media screen and (min-width: 768px) {
  .int-image-nine {
    flex: 3;
    height: 40vh;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-nine {
    flex: 3;
    height: 80vh;
  }
}

.int-row-five {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 480px) {
  .int-row-five {
    flex-direction: row;
  }
}

.int-image-ten {
  background-image: url("../assets/images/interior/interior-10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 14rem;
  flex: auto;
  max-height: 30rem;
}

@media screen and (min-width: 768px) {
  .int-image-ten {
    height: 25vh;
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-ten {
    height: 50vh;
    flex: 1;
  }
}

.int-image-eleven {
  background-image: url("../assets/images/interior/interior-11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 14rem;
  flex: auto;
  max-height: 30rem;
}

@media screen and (min-width: 768px) {
  .int-image-eleven {
    height: 25vh;
    flex: 1;
  }
}

@media screen and (min-width: 1024px) {
  .int-image-eleven {
    height: 50vh;
    flex: 1;
  }
}
